@font-face {
    font-family: 'Gotham-BlackItalic';
    src: url('fonts/Gotham-BlackItalic.eot');
    src: url('fonts/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-BlackItalic.woff') format('woff'),
        url('fonts/Gotham-BlackItalic.ttf') format('truetype'),
        url('fonts/Gotham-BlackItalic.svg#fonts/Gotham-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.eot');
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Bold.woff') format('woff'),
        url('fonts/Gotham-Bold.ttf') format('truetype'),
        url('fonts/Gotham-Bold.svg#fonts/Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black.eot');
    src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Black.woff') format('woff'),
        url('fonts/Gotham-Black.ttf') format('truetype'),
        url('fonts/Gotham-Black.svg#fonts/Gotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('fonts/Gotham-BookItalic.eot');
    src: url('fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-BookItalic.woff') format('woff'),
        url('fonts/Gotham-BookItalic.ttf') format('truetype'),
        url('fonts/Gotham-BookItalic.svg#fonts/Gotham-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-BoldItalic';
    src: url('fonts/Gotham-BoldItalic.eot');
    src: url('fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-BoldItalic.woff') format('woff'),
        url('fonts/Gotham-BoldItalic.ttf') format('truetype'),
        url('fonts/Gotham-BoldItalic.svg#fonts/Gotham-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Book.woff') format('woff'),
        url('fonts/Gotham-Book.ttf') format('truetype'),
        url('fonts/Gotham-Book.svg#fonts/Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Light.eot');
    src: url('GothamCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Light.woff') format('woff'),
        url('GothamCondensed-Light.ttf') format('truetype'),
        url('GothamCondensed-Light.svg#GothamCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-LightItalic';
    src: url('fonts/Gotham-LightItalic.eot');
    src: url('fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-LightItalic.woff') format('woff'),
        url('fonts/Gotham-LightItalic.ttf') format('truetype'),
        url('fonts/Gotham-LightItalic.svg#fonts/Gotham-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('GothamCondensed-Medium.eot');
    src: url('GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamCondensed-Medium.woff') format('woff'),
        url('GothamCondensed-Medium.ttf') format('truetype'),
        url('GothamCondensed-Medium.svg#GothamCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Light.eot');
    src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Light.woff') format('woff'),
        url('fonts/Gotham-Light.ttf') format('truetype'),
        url('fonts/Gotham-Light.svg#fonts/Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.eot');
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Medium.woff') format('woff'),
        url('fonts/Gotham-Medium.ttf') format('truetype'),
        url('fonts/Gotham-Medium.svg#fonts/Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-MediumItalic.eot');
    src: url('fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-MediumItalic.woff') format('woff'),
        url('fonts/Gotham-MediumItalic.ttf') format('truetype'),
        url('fonts/Gotham-MediumItalic.svg#fonts/Gotham-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Extra';
    src: url('fonts/Gotham-ExtraLight.eot');
    src: url('fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-ExtraLight.woff') format('woff'),
        url('fonts/Gotham-ExtraLight.ttf') format('truetype'),
        url('fonts/Gotham-ExtraLight.svg#fonts/Gotham-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Extra';
    src: url('fonts/Gotham-ExtraLightItalic.eot');
    src: url('fonts/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-ExtraLightItalic.woff') format('woff'),
        url('fonts/Gotham-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Gotham-ExtraLightItalic.svg#fonts/Gotham-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

